
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

/* Main Sections */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
